/* sivun yleistyyli */
body {
    font-family: Arial;
    width: 80%;
    margin: 0 auto;
    background-color: #F1F1F1;
}


/* header-elementin tyyli */
header {
    background-color: #E9AF43;
}

/* headerin sisällä olevat otsikot */
#title {
    color: white; 
    padding: 1em 1em 0 1em;
}

#title h2 {
    float: right;
    font-size: 0.7em;
}

/* headerin sisällä olevat valikot */
#navi nav {
    /* taustaväri */
    background-color: #535353;
}

#navi img {
    float: left;
    padding: 0.4em;

    max-width: 100%;
    min-width: 5px;

}

#navi nav ul {
    /* fontin määrittely */
    font-size: 1.9em;
    height: 3.7em;
    line-height: 3.15em;

    /* listan pallerot pois */
    list-style-type: none;
    
    padding: 0 0 0 1em;
}

#navi nav ul li {
    float: left;
    display: inline; 
}

#navi nav ul li a {
    color: #E9AF43;
    display: inline-block;
    padding: 0.3em 0.5em;
    text-decoration: none;
}

#navi nav ul li a:hover {
    background-color: #E9AF43;
    color: #535353;
}